{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Account Inactive" %}{% endblock %}
{% block mynavbar %}
  {% include "myincludes/mynavbar.html" %}
{% endblock %}

{% block content %}
	<section id="inactivesection">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center mt-1 pt-1">
            <h4>{% trans "Account Inactive" %}</h4>
            <!--<p class="myfontsize">{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">Sign In</a>.{% endblocktrans %}</p>-->
          </div>
          <div class="text-center">
    		<p class="lead text-primary font-weight pt-2">{% trans "This account is inactive." %}</p>
		</div>
        </div>
      </div>
    </section>
{% endblock %}
{% block myfooter %}
  {% include "myincludes/myfooter.html" %}
{% endblock %}
