{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}
{% block mynavbar %}
  {% include "myincludes/mynavbar.html" %}
{% endblock %}

{% block content %}
	<section id="resetpasswordsection">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center mt-1 pt-1">
            <h4>{% trans "Password Reset" %}</h4>
            <!--<p class="myfontsize">{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">Sign In</a>.{% endblocktrans %}</p>-->
          </div>
        </div>
      
    
		    {% if user.is_authenticated %}
		    {% include "account/snippets/already_logged_in.html" %}
		    {% endif %}
		    <div class="text-center">
		    	<p class="lead text-primary font-weight pt-2">{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
			</div>
		</div>
    </section>
{% endblock %}

{% block myfooter %}
  {% include "myincludes/myfooter.html" %}
{% endblock %}
