{% extends "account/base.html" %}
{% load static %}
{% load i18n %}
{% load account %}
{% block extraiceaktar %}
<link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
{% endblock %}
{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block mynavbar %}
  {% include "myincludes/mynavbar.html" %}
{% endblock %}

{% block content %}
  <section id="resetpasswordsection">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center mt-1 pt-1">
            <h4>{% trans "Password Reset" %}</h4>
            <!--<p class="myfontsize">{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">Sign In</a>.{% endblocktrans %}</p>-->
          </div>
        </div>
      

    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    </div>
    </section>
    
    <section id="formsect">
      <div class="container">
		  <h4>{% trans "Please E-Mail" %}</h4>

    <form method="POST" action="{% url 'account_reset_password' %}" class="login">
        {% csrf_token %}
        <div class="col-md-12 mt-4 pt-1 push-4">
          <span class="errorspan">{{ form.non_field_errors }}</span>
        </div>
        <div class="form-group mt-1 pt-1">
          <!--<label for="id_email" class="col-md-4 control-label">{% trans "Current Password:" %}</label>
    			<label  for="id_email">E-Posta:<span class="req">*</span></label>-->
          <div class="col-md-12 center-block">
    			 <input type="email" id="id_email" class="form-control" maxlength="255" name="email" required autocomplete="off"/>
          </div>
        </div>
			{% if form.email.errors %}
        <div class="col-md-12 mt-4 pt-1 push-4">
			    <span class="errorspan">{{ form.email.errors }}</span>
        </div>
			{% endif %}
		    <div class="pt-3">
		      <button class="btn btn-primary btn-block" type="submit"/>{% trans "Reset My Password" %}</button>
        </div>
		
		    <div class="text-center">
    			<p class="lead text-primary font-weight">{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
        </div>
        <div class="text-center">
    			<p class="lead text-primary font-weight pt-2">{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
        </div>
		
    </form>
    
    </div>
  </section>
{% endblock %}

{% block bodyicijs %}
  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <script  src='{% static "js/index.js" %}'></script>
{% endblock %}

{% block myfooter %}
  {% include "myincludes/myfooter.html" %}
{% endblock %}
