{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}
{% block mynavbar %}
  {% include "myincludes/mynavbar.html" %}
{% endblock %}

{% block content %}
	<section id="changepasswordsection">
	    <div class="container">
	      <div class="row">
	        <div class="col-md-12 text-center mt-1 pt-1">
	          <h4>{% trans "Change Password" %}</h4>
	          <!--<p class="myfontsize">{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">Sign In</a>.{% endblocktrans %}</p>-->
	        </div>
	      </div>
	    </div>
  	</section>

  	<section id="formsect">
    	<div class="container">
		    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
		    	{% if form.errors %}
		            {% for field in form %}
		                {% for error in field.errors %}
		                    <div class="col-md-12 mt-4 pt-1 push-4">
		                        <span class="errorspan">{{ error|escape }}</span>
		                    </div>
		                {% endfor %}
		            {% endfor %}
		            {% for error in form.non_field_errors %}
		                <div class="col-md-12 mt-4 pt-1 push-4">
		                    <span class="errorspan">{{ error|escape }}</span>
		                </div>
		            {% endfor %}
		        {% endif %}
		        {% csrf_token %}
		        <!--{{ form.as_p }}-->
		        <div class="form-group mt-1 pt-1">
		          <!--<label for="id_oldpassword" class="col-md-4 control-label">{% trans "Current Password:" %}</label>-->
		          <div class="col-md-12 center-block">
		            <input type="password" name="oldpassword" placeholder="{% trans 'Current Password' %}" class="form-control" maxlength="150" required="" id="id_oldpassword">
		          </div>
		        </div>
		        <div class="form-group">
		          <!--<label for="id_password1" class="col-md-4 control-label">{% trans "New Password:" %}</label>-->
		          <div class="col-md-12 center-block">
		            <input type="password" name="password1" placeholder="{% trans 'New Password' %}" required="" class="form-control" maxlength="150" id="id_password1">
		          </div>
		        </div>
		        <div class="form-group">
		          <!--<label for="id_password2" class="col-md-4 control-label">{% trans "New Password (again):" %}</label>-->
		          <div class="col-md-12 center-block">
		            <input type="password" name="password2" placeholder="{% trans 'New Password (again)' %}" class="form-control" maxlength="150" required="" id="id_password2">
		          </div>
		        </div>
		        <div class="pt-3">
		        	<button class="btn btn-primary btn-block" type="submit" name="action">{% trans "Change Password" %}</button>
		        </div>
		    </form>
		</div>
	</section>
{% endblock %}

{% block myfooter %}
  {% include "myincludes/myfooter.html" %}
{% endblock %}
